* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans';
}

.nav {
    
    display: flex;
    position: sticky;
    top: 0;
    height: 10vh;
    width: 100%;
    background-color: #2b2b2b;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.nav-items{
    /* width: 100%; */
    /* padding: 15px; */
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-items:hover{
    
    color:red;
    /* background-color: #343a40; */
}


.nav-items:hover .dropdown-content{
    display: inline-flex;
    color:red;
}

.dropdown{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.dropdown-content{
    display: none;
    flex-direction: column;
    position: absolute;
    /* width: 100%; */
    top: 10vh;
    z-index: 1;
}

.dropdown-content>p{
    display: inline-flex;
    padding: 10px;
    background-color: #343a40;
    min-height: 5vh;
    color: white;
    
    justify-content: center;
    align-items: center;
    
}

.dropdown-content>p:hover{
    background-color: #6c757d;
    color: #f8f9fa;
    
}

#logo{
    font-size: 30px;
    color: yellow;
}

.main-board{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
    background-image: url('https://images.pexels.com/photos/722708/seats-orange-congress-empty-722708.jpeg?cs=srgb&dl=photo-of-orange-chairs-722708.jpg&fm=jpg');
}

.main-board-center-box{
    height: 80%;
    width: 75%;
    color:white;
    display: flex;
    flex-direction: row;
}

.main-board-col{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
}

.main-board-col1{
    display: flex;
    flex-grow: 1;
}

.main-board-col2{
    display: flex;
    flex-grow: 6;
    align-items: center;
}


.main-board-col1-p1{
    font-size: 80px;
}

.main-board-col1-p2{
    font-size: 40px;
}
.main-board-col1-p3{
    font-size: 80px;
}

.main-board-button{
    padding: 15px;
    border-radius: 30px;
    border: solid;
    border-width: 1px;
    width: 100%;
    background-color: black;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    font-size: 18px;

}

.main-board-button-1{
    
    border-color: black;
    background-color: black;
    color: white;
}

.main-board-button-1:hover{
    border-color: black;
    background-color: transparent;
    color: black;
}



.main-board-button-2{
    border-color: yellow;
    background-color: yellow;
    color: black;
}
.main-board-button-2:hover{
    border-color: yellow;
    background-color: transparent;
    color: yellow;
}

.main-board-col2>p{
    font-size: 50px;
    font-weight: 900;
}

.main-board-col2-spl{
    color: yellow;
}

#sub-heading{
    font-size: 20px;
}

.content{

    /* height: 100vh; */
    display: flex;

    justify-content: center;
    align-items: center;
    width: 100%;
   
}

.content-center{
    width: 80%;
    padding: 50px 0;
}

.content-center>h1{
    padding-bottom: 20px;
    font-size: 4.5rem;
    font-weight: bold;
    text-align: center;
}

.content-center>h2{
    font-weight: bold;
    padding-top: 30px;
    font-size: 2.5rem;
    padding-bottom: 10px;
}
.content-center>h3{
    font-weight: bold;
    padding-top: 30px;
    font-size: 1.4rem;
    padding-bottom: 10px;
    letter-spacing: 0.07rem;
}

.content-center>p, .content-center>ul>li{
    font-weight: bold;
    font-size: 1.1rem;
    line-height: 2.1rem;
    letter-spacing: 0.07rem;
    /* padding-top: 30px;
    padding-bottom: 10px; */
}

.italic{
    font-style: italic;
}
#conference-li{
    
    font-size: 1.6rem;
}

footer{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: #2b2b2b;
}

footer>div{
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    font-weight: bold;
    height: 80%;
    width: 80%;
    color: yellow;
}
